.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1599.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}