@use './styles/reset';
@use './styles/normalize';
@use './styles/_layouts';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif, ui-sans-serif, system-ui, -apple-system, Arial;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.App {
  padding: 30px;
  display: flex;
}

.container {
  max-width: 300px;
  background-color: rgb(47, 77, 77);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
.active-filter {
  background-color: aquamarine;
}
.is-done {
  opacity: 0.5;
}
